html,body{
	width:100%;
}
nav{
	background-color: #F4F4F4;
	border-color:  #F4F4F4;
}
.navbar-header > a{
	font-size: 25px;
	color: #52BBEB;
}
.navtext{
	color: #52BBEB;
	position: absolute;;
	font-size: 17px;
	top: 15px;
	left: 42%;
}
.navtext{
	color: #A89F9B;
	position: absolute;;
	font-size: 17px;
	top: 15px;
	left: 35%;
}
.detailcontainer{
	margin-top: 50px;
}
.agentdetail{
	background-color: #52BBEB;
	margin-top: 10px;
	margin-left: -5px;
	margin-right: -5px;
	padding-left: 10px;
	padding-right: 10px;
	color: #fff;
	border-radius: 2px;
	margin-bottom: 10px;
}
.agentdetail span{
	line-height: 2;
	font-size: 18px;
	color: #77D2F2;
}
.agentdetail hr{
	margin-bottom: 3px;
	margin-top: 3px;
	border:1px #46ABCE solid; 
}
.agentdetail .blacktext{
	color: #666666;
}
.managebtn{
	padding-left: 10px;
	padding-right: 10px;
}
.managebtn .btn-primary{
	width: 100%;
	border-radius: 2px;
	background-color: #52BBEB;
	border-color: #52BBEB;
}

.shopitem{
	margin-bottom: 5px;
	background-color: #FAFAFA;
	margin-left: -5px;
	margin-right: -5px;
	margin-top: 15px;
}
.shopitem hr{
	margin-bottom: 10px;
	margin-top: 3px;
	/*border: 1px solid #46ABCE;*/
}
.shopitem h6{
	color: #666666;
}
.shopitem strong{
	color: #666666;	
}
.shopitem h5{
	color: #666666;
}
.relationcontainer{
	margin-top: 50px;
	margin-right: 0px;
	margin-left: 0px;
}
.relationcontainer .btn-primary{
	width: 100%;
	border-radius: 0px;
	background-color: #52BBEB;
	border-color: #52BBEB;
	margin-top: 10px;
}
.relationcontainer hr{
	border: 1px solid #46ABCE;
}
.reshopitem{
	margin-bottom: 5px;
	background-color: #FAFAFA;
	margin-left: -5px;
	margin-right: -5px;
	margin-top: 15px;
}
.reshopitem hr{
	margin-bottom: 10px;
	margin-top: 3px;
	/*border: 1px solid #46ABCE;*/
}
.reshopitem h6{
	color: #666666;
}
.reshopitem strong{
	color: #666666;	
}
.reshopitem h5{
	color: #FFF;
}
.reshopitem.member{
	background-color: #52BBEB;
}
.reshopitem.nomember{
	background-color: #F4F4F4;	
}
.reshopitem.nomember hr{
	border: 1px solid #E6E6E6;
}
.reshopitem.nomember h5{
	color:#52BBEB;
}
.reshopitem.nomember.active{
	background-color: #F47960;
}
.reshopitem.nomember.active h5{
	color: #FFF;
}
.reshopitem.nomember.active hr{
	border: 1px solid #DD6554;
 }
.shopclasscontainer{
	margin-top: 70px;
}
.shopclasscontainer .btn-primary
{
	width: 100%;
	background-color: #52BBEB;
	border-color: #52BBEB;
	border-radius: 2px;
}
.panel-group{
	margin-top: 5px;
}
.panel-group .panel{
	border-radius: 0;
}
/*.panel.panel-default{
	background-color:#52BBEB;
	border-color:#0F82AA;
	color:#FFF;
}*/
.panel-group .panel-heading+.panel-collapse>.list-group, .panel-group .panel-heading+.panel-collapse>.panel-body{
	border-top: none;
}
.panel{
	border-radius: 0;
}
.panel-heading{
	border-radius: 0;
}
.panel-default>.panel-heading{
	background-color:#52BBEB;
	border-color:#0F82AA;
	color: #FFF;
	text-align: center;
}
.panel-default>.panel-heading a{
	padding-left: 40%;
	padding-right: 40%;
}
.editdomoreprice
{
	width: 100%;
	/*height: 100%;*/
	background-color: #F6F6F6;
	display: none;
	position: absolute;
	top: 0;
	z-index: 1500;
	font-size: 30px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
}
.editdomoreprice .editpricetitle{
	text-align: center;
}
.editdomoreprice .btn{
	width: 100%;
}
.tagcontainer{
	padding-left: 10px;
	padding-right: 15px;
}
.tagcontainer .col-xs-3{
	padding-left: 5px;
	padding-right: 0px;
}
.tagbg{
	padding-top: 5px;
	padding-bottom: 5px; 
	background-color: #FFF;
	width: 100%;
	margin-bottom: 5px;
	font-size: 13px;
	text-align: center;
	color: #000;
	border-radius: 2px;
}
.tagbg.active{
	background-color: #52BBEB;
	color: #FFF;
}