html,body{
	width:100%;
}
nav{
	background-color: #F4F4F4;
	border-color:  #F4F4F4;
}
.navbar-header > a{
	font-size: 25px;
	color: #52BBEB;
}
.navtext{
	color: #52BBEB;
	position: absolute;;
	font-size: 17px;
	top: 15px;
	left: 42%;
}
.detailcontainer{
	margin-top: 50px;
}
.agentdetail{
	background-color: #52BBEB;
	margin-top: 10px;
	margin-left: -5px;
	margin-right: -5px;
	padding-left: 10px;
	padding-right: 10px;
	color: #fff;
	border-radius: 2px;
}
.agentdetail span{
	line-height: 2;
	font-size: 18px;
	color: #77D2F2;
}
.agentdetail hr{
	margin-bottom: 3px;
	margin-top: 3px;
	border:1px #46ABCE solid; 
}
.agentdetail .blacktext{
	color: #666666;
}