<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<meta charset="utf-8">
	<meta http-equiv="cache-control" content="no-cache">
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-title" content="Sun">

	<link rel="stylesheet" type="text/css" href="__PUBLIC__/manage/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/manage/css/base3.css">
</head>
	<body>
		<nav class="navbar navbar-fixed-top">
			<div class="container-fluid">
				<div class="navbar-header toolbar" id="st-trigger-effects">
					<block name="page-nav-aherf"></block>
				</div>
				<block name="page-title"></block>
			</div>
		</nav>
		<block name="page-wrapper"></block>

		</div><!--  st-pusher -->

		<script type="text/javascript" src="__PUBLIC__/manage/js/jquery-2.1.3.min.js"></script>
		<script type="text/javascript" src="__PUBLIC__/manage/js/bootstrap.js"></script>
		
		<block name="page-js"></block>
	</body>
</html>                                