<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<meta charset="utf-8">
	<meta http-equiv="cache-control" content="no-cache">
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-title" content="Sun">

	<link rel="stylesheet" type="text/css" href="__PUBLIC__/manage/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/manage/css/normalize.css">
	<!-- <link rel="stylesheet" type="text/css" href="__PUBLIC__/manage/css/demo.css"> -->
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/manage/css/base.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/manage/css/component.css">
	<script type="text/javascript" src="__PUBLIC__/manage/js/modernizr.custom.js"></script>
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/manage/css/bootstrap-datetimepicker.min.css">
	

</head>
	<body >
	<div id="st-container" class="st-container">
		<nav class="st-menu st-effect-2" id="menu-2">
			<ul>
				<div class="btn-group">
					<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
						<span class="glyphicon glyphicon-plus" aria-hidden="true"></span><span class="caret"></span>
					</button>
					<ul class="dropdown-menu" role="menu">
    					<li><a href="/manage/agentshop/newshop">新建场馆</a></li>
    					<li><a href="/manage/agentshop/newagent">新建商户</a></li>
					</ul>
				</div>
				<div class="stmenulogo">
					<img src="__PUBLIC__/manage/img/logo2.png" >
					<li><a href="#">HOME</a></li>
					<li><a href="#">通知中心</a></li>
					<li><a href="#">我的商户</a></li>
					<li><a href="#">我的场馆</a></li>
					<li><a href="/manage/agentshop/signout">登出</a></li>
				</div>
				<div class="stmenuimg">
					<img src="__PUBLIC__/manage/img/profile.png" class="img-circle" width="80px">
				</div>
				
			</ul>
		</nav>
		<div class="st-pusher">
			<div class="st-content"><!-- this is the wrapper for the content -->
				<div class="st-content-inner">
					<nav class="navbar navbar-fixed-top">
						<div class="container-fluid">
							<div class="navbar-header toolbar" id="st-trigger-effects">
								<a class="navbar-brand menu-button menu-left" href="" id="" data-effect="st-effect-2"><span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span></a>
							</div>
							<span class="navtext">新建场馆</span>
						</div>
					</nav>
					<block name="page-wrapper"></block>
				</div>
			</div>

		</div><!--  st-pusher -->

	</div><!--  st-container -->
		<script type="text/javascript" src="__PUBLIC__/manage/js/jquery-2.1.3.min.js"></script>
		<script type="text/javascript" src="__PUBLIC__/manage/js/bootstrap.js"></script>
		<script type="text/javascript" src="__PUBLIC__/manage/js/classie.js"></script>
		<script type="text/javascript" src="__PUBLIC__/manage/js/sidebarEffects.js"></script>

		<script type="text/javascript">
			
		</script>
		<block name="page-js"></block>
	</body>
</html>