<extend name="base3" />
<block name="page-title">
	<span class="navtext">为商户关联场馆</span>
</block>
<block name="page-nav-aherf">
	<a class="navbar-brand menu-button menu-left" href="/manage/agentshop/myagent" id="" data-effect="st-effect-2"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
</block>

<block name="page-wrapper">
	<div class="row relationcontainer">
		<div class="col-xs-12">
			<foreach name="membershoplst" item="membershop">
				<div class="row reshopitem member">
					<div class="col-xs-12">
						<h5><{$membershop.agentshop_id}></h5>
						<hr>
						<strong><{$membershop.shop_name}></strong>
						<h6><{$membershop.address}></h6>
					</div>
				</div>
			</foreach>
			<foreach name="nomembershoplst" item="nomembershop">
				<div class="row reshopitem nomember" id="<{$nomembershop.agentshop_id}>">
					<div class="col-xs-12">
						<h5><{$nomembershop.agentshop_id}></h5>
						<hr>
						<strong><{$nomembershop.shop_name}></strong>
						<h6><{$nomembershop.address}></h6>
					</div>
				</div>
			</foreach>
		</div>
		<button type="button" id="mkagentrelation" agentid="<{$agentid}>" class="btn btn-primary btn-lg">确 定</button>
	</div>

</block>

<block name="page-js">
	<script src="__PUBLIC__/manage/js/mkagentrelation.js"></script>
</block>