<extend name="base3" />
<block name="page-title">
	<span class="navtext">为商户关联场馆</span>
</block>
<block name="page-nav-aherf">
	<a class="navbar-brand menu-button menu-left" href="/manage/agentshop/myagent" id="" data-effect="st-effect-2"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
</block>

<block name="page-wrapper">
	<div class="row relationcontainer">
		<div class="col-xs-12">

			<div class="row reshopitem member">
				<div class="col-xs-12">
					<h5>P28-01453</h5>
					<hr>
					<strong>传奇健身科华南路馆</strong>
					<h6>成都市武侯区科华南路326号伊云中心12层</h6>
				</div>
			</div>

		</div>
		
	</div>
</block>