<extend name="base2" />
<block name="page-title">
	<span class="navtext">我的商户</span>
</block>

<block name="page-wrapper">
	<div class="container myagentcont">
		<empty name="myagentlst">
			<div class="row">
				<div class="col-xs-12">
					<div class="myempty">
						<p class="text-center"><span class="glyphicon glyphicon-bell" aria-hidden="true"></span> 还没有添加 商户 哦!</p>
					</div>
				</div>
			</div>
		<else /> 
			<foreach name="myagentlst" item="myagent">
				<div class="row shopitem">
					<a href="/manage/agentshop/agentdetail/0">
					<div class="col-xs-12">
						<div class="row">
							<div class="col-xs-9">
								<h5><{$myagent.agent_id}></h5>
							</div>
							<div class="col-xs-3">
								<eq name="myagent.agentcount" value="0">
									<span class="noagentmark">无场馆</span>
								</eq>
							</div>
						</div>
						
						<hr>
						<div class="row">
							<div class="col-xs-4">
								<strong><{$myagent.agent_name}></strong>
							</div>
							<div class="col-xs-4">
								<h6><{$myagent.agent_manager}></h6>
							</div>
							<div class="col-xs-4 text-center">
								<h6><{$myagent.agentcount}></h6>		
							</div>
						</div>
					</div>
					</a>
				</div>	
			</foreach>
		</empty>
	</div>
</block>
<block name="page-js">

</block>