<extend name="base2" />
<block name="page-title">
	<span class="navtext">我的商户</span>
</block>

<block name="page-wrapper">
	<div class="container">
		<empty name="myagentlst">
			<div class="row">
				<div class="col-xs-12">
					<div class="myempty">
						<p class="text-center"><span class="glyphicon glyphicon-bell" aria-hidden="true"></span> 还没有添加 商户 哦!</p>
					</div>
				</div>
			</div>
		<else /> 
			<foreach name="myagentlst" item="myagent">
				<div class="row shopitem">
					<div class="col-xs-12">
						<h5><{$myagent.agent_id}></h5>
						<hr>
						<strong><{$myagent.agent_name}></strong>
						<h6><{$myagent.agent_manager}></h6>
						<h6><{$myagent.agentcount}></h6>
					</div>
				</div>	
			</foreach>
		</empty>
	</div>
</block>
<block name="page-js">

</block>