<extend name="base1" />
<block name="page-wrapper">
<div class="container newshopinfo">
	<div class="row shopalbums">
		<div class="col-xs-4" id="addimg">
			<form id="addshoppicform">
				<a href="#" id="upimgbtn"><img src="__PUBLIC__/manage/img/addimg.png" alt="" class="img-rounded"></a>
				<input type="file" name="upimg" id="upimg" value="" required="required" accept="image/*"  runat="server" style="display:none;"/>
			</form>
		</div>
		<div class="col-xs-4">
			<a href="#" type="button" class="" data-toggle="modal" data-target=".bs-example-modal-lg" onclick="onshoppic(this);">
			<img src="__PUBLIC__/manage/img/logo.png" alt="" id="1" class="img-rounded">
			</a>
		</div>
		
	</div>
	<div class="modal fade bs-example-modal-lg in" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="false" id="myModal">
		<div class="modal-dialog modal-lg">
			<div class="container">
				<div class="row">
					<button class="col-xs-12 btn btn-lg delshoppic btn-default btn-block" onclick="delshoppic(this);" >删除图片</button>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<div class="form-group ">
				<textarea class="form-control" rows="6" id="shopdesc" placeholder="场馆介绍"></textarea>
			</div>
			<div class="form-group">
				<label for="exampleInputEmail1">场馆负责人信息</label>
				<input type="email" class="form-control" id="shopGM" placeholder="场馆经理">
			</div>
			<div class="form-group">
				<input type="email" class="form-control" id="shopGMtel" placeholder="场馆经理电话">
			</div>
			<div class="form-group">
				<input type="email" class="form-control" id="shopGMemail" placeholder="场馆经理email">
			</div>
		</div>
		<div class="col-xs-4">
			<button type="button" class="col-xs-12 btn btn-default btn-block" id="editprv">上一步</button>
		</div>
		<div class="col-xs-8">
			<button type="button" class="col-xs-12 btn btn-default btn-block" id="subbtn">完 成</button>
		</div>
	</div>
	
</div>
</block>

<block name="page-js">
	<script type="text/javascript" src="__PUBLIC__/manage/js/newshopinfo.js"></script>
</block>