<extend name="base3" />
<block name="page-title">
	<span class="navtext">此处为场馆名</span>
</block>
<block name="page-nav-aherf">
	<a class="navbar-brand menu-button menu-left" href="/manage/agentshop/myshop" id="" data-effect="st-effect-2"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span></a>
</block>

<block name="page-wrapper">
	<div class="container shopclasscontainer">
		<div class="row">
			<div class="col-xs-12">
				<button type="button" class="btn btn-primary">给本场馆添加课程库</button>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
					
					<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="Mon">
							<h4 class="panel-title">
								<a data-toggle="collapse" data-parent="#accordion" href="#collapseMon" aria-expanded="true" aria-controls="collapseMon">
									星期一
								</a>
							</h4>
						</div>
						<div id="collapseMon" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="Mon">
							<div class="panel-body">

								<div class="row">
									<div class="col-xs-4">
										
									</div>
									<div class="col-xs-8">
										
									</div>
								</div>
								
							</div>
						</div>
					</div>

					<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="Tues">
							<h4 class="panel-title">
								<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTues" aria-expanded="false" aria-controls="collapseTues">
									星期二
								</a>
							</h4>
						</div>
						<div id="collapseTues" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Tues">
							<div class="panel-body">
								
							</div>
						</div>
					</div>

					<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="Wed">
							<h4 class="panel-title">
								<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseWed" aria-expanded="false" aria-controls="collapseWed">
									星期三
								</a>
							</h4>
						</div>
						<div id="collapseWed" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Wed">
							<div class="panel-body">
								
							</div>
						</div>
					</div>

					<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="Thur">
							<h4 class="panel-title">
								<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThur" aria-expanded="false" aria-controls="collapseThur">
									星期四
								</a>
							</h4>
						</div>
						<div id="collapseThur" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Thur">
							<div class="panel-body">
								
							</div>
						</div>
					</div>


					<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="Fri">
							<h4 class="panel-title">
								<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFri" aria-expanded="false" aria-controls="collapseFri">
									星期五
								</a>
							</h4>
						</div>
						<div id="collapseFri" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Fri">
							<div class="panel-body">
								
							</div>
						</div>
					</div>

					<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="Sat">
							<h4 class="panel-title">
								<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSat" aria-expanded="false" aria-controls="collapseSat">
									星期六
								</a>
							</h4>
						</div>
						<div id="collapseSat" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Sat">
							<div class="panel-body">
								
							</div>
						</div>
					</div>

					<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="Sun">
							<h4 class="panel-title">
								<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSun" aria-expanded="false" aria-controls="collapseSun">
									星期日
								</a>
							</h4>
						</div>
						<div id="collapseSun" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Sun">
							<div class="panel-body">
								
							</div>
						</div>
					</div>


				</div>
			</div>
		</div>
	</div>
</block>

<block name="page-js">
	
</block>