<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<form id="upform">
		<input type="file" id="upfile" name="upyunup">upfile
		<canvas id="myCanvas" style="display:none"></canvas>
		<button id="submit">submit</button>
	</form>
</body>
<script type="text/javascript" src="__PUBLIC__/manage/js/jquery-2.1.3.min.js"></script>
<script type="text/javascript">
function dataURItoBlob(dataURI) {
	// convert base64 to raw binary data held in a string 
	var byteString 
		,mimestring 

	if(dataURI.split(',')[0].indexOf('base64') !== -1 ) {
		byteString = atob(dataURI.split(',')[1])
	} else {
		byteString = decodeURI(dataURI.split(',')[1])
	}
	

	mimestring = dataURI.split(',')[0].split(':')[1].split(';')[0]
	
	var content = new Array();
	for (var i = 0; i < byteString.length; i++) {
		content[i] = byteString.charCodeAt(i)
	}
	console.log(mimestring);
	console.log(content);
	return new Blob([new Uint8Array(content)], {type: mimestring});
}
$("#upfile").change(function(){
	console.log(this.files[0]);
});
	$('#submit').click(function(e){
		alert('ddfd');
		e.preventDefault()
		// var file = new FormData($( "#upform" )[0]);
		var file = $("#upfile")[0].files[0];
		console.log(file);
		var url = URL.createObjectURL(file);
		var img = new Image();
		 
		img.onload = function() {
			//生成比例
			var width = img.width,
				height = img.height,  
				scale = width / height;  
			// console.log(scale);
			width = parseInt(800);  
			height = parseInt(width / scale);
			//生成canvas  
			var $canvas = $('#myCanvas');  
			var ctx = $canvas[0].getContext('2d');  
			$canvas.attr({width : width, height : height});  
			ctx.drawImage(img, 0, 0, width, height);  
			var base64 = $canvas[0].toDataURL('image/jpeg',0.5);  
			var blob = dataURItoBlob(base64);
			var fdata = new FormData();
			fdata.append("myupimg",blob);
				$.ajax({
				url:'/manage/agentshop/upyuntest',
				type: 'POST',
				data: fdata,
				async: true,
				cache: false,
				contentType: false,
				processData: false,
				success: function (returndata) {
					console.log(returndata);
					// loadend();
					// addpic(returndata.imgpath,returndata.albumsid);
					alert("上传成功");
				},
				error: function (returndata) {
					console.log(returndata);
					// alert("图片上传失败,请将图片控制在3M以内,并且用 jpg | gif | png | jpeg格式");
					// loadend();
				}
			})
		}
		img.src = url;
		
	});
</script>
</html>